"School Class Form"
<%= form_for(@school) do |f| %>
  <label>School Title:</label><br>
  <%= f.text_field :title %><br>

  <label>School Room Number</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>